.card{
  background-color: red;
  width: 350px;
  height: 450px;
  text-align: center;
  
}
.card-background{
  background: linear-gradient(to right, blue, yellow);
  height: 160 px;
  width: 100%;
}

.card-image{
  border-radius: 50%;
  width: 120px:
  height: auto;
  position: relative;
  top: 100px;
  
}

.card-info{
margin-top: 70px;
padding: 10px;
  
}
